body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;

    li, a {
        font-size: 20px;
        padding: 0px 30px;
        color: $grey-color;
        
        &:hover {
            color: $main-color;
        }
    }
}

h1 {
    font-family: $title-font;
    color: $main-color;
    font-size: 50px;
    margin: 10px;
}

li, a {
    list-style: none;
    font-family: $main-font;
    font-weight: 600;
}

a {
    text-decoration:none;
}

.header-ul {
    display: flex;
}

.hover-li {
    position: relative;

    &:hover ul {
        visibility: visible;
    }
}

.hover-li ul {
    position: absolute;
    left: 0px;
    padding: 10px 0px 0px 0px;
    visibility: hidden;
    background-color: #f8f8f8;
    z-index: 999;

    & li {
        padding: 5px 30px;
    }
}

.mobile-dropdown {
    display: none;
}