.receta-page{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    .container1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        h1{
            font-family: $mainfont;
            color:$orangecolor;
            font-size: 50px;
        }
        ul{
            display: flex;
            flex-direction: row;
            font-family: $secondaryfont;
            list-style: none;
            li{
                margin-right: 40px;
                color: $graycolor;
            }
        }
    }
    .img-frutas{
        img{
            width: 100%;
        }
    }
    .info-container{
        .casa{
            width: 20px;
            height: 20px;
        }
    }
    .container2{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        align-content: center;
        width: 100%;
        .receta{
            display: flex;
            flex-direction: row;
            width: 800px;
            justify-content: space-around;
            .container-redes{
                width: 50px;
                height: 300px;
                display:flex;
                flex-direction: column;
                justify-content: space-between;
                margin-top: 20px;
                img{
                    height: 50px;
                    width: 50px;
                    margin-top: 20px;
                }
            }
            .foto-receta{
                border-radius: 50px;
            }
        }
        h4{
            color: $graycolor;
            font-family: $secondaryfont;
        }
        h2{
            font-family: $secondaryfont; 
        }
        p{
            color: $graycolor;
            font-family: $secondaryfont; 
        }
        .quote{
            font-family: $secondaryfont;
            width: 640px;
            border-left: 1px solid $orangecolor;
            color: $graycolor;
        }
        .ingredientes{
            display: flex;
            flex-direction: column;
        }
    }


}
