@media (max-width: 1340px) {
    .banner, .img-main-container, .video-container  {
        flex-wrap: wrap;
    }

    .img-main-container {
        justify-content: space-evenly;
        height: 510px;
    }
}

@media (max-width: 1200px) {
    .articles {
        width: 100%;
    }
}

@media (max-width: 1000px) {
    .banner, .img-main-container {
        justify-content: space-around;
    }

    .main {
        width: 90%;
    }
}

@media (max-width: 830px) {

    .img-main-container {
        justify-content: center;
        height: 820px;

        img {
            margin: 0px 10px;
        }
    }

    .video-container {
        justify-content: center
    }

    .video-ul {
        color: $white-color;
    }

    iframe {
        display: none;
    }
    
    footer {
        li {
            display: none;
        }
    }
}

@media (max-width: 730px) {
    .article {
        img {
            display: none;
        }
    }
}

@media (max-width: 695px) {
    header {
        li, a {
            padding: 0px 20px;
        }
    }
}

@media (max-width: 670px) {
    .banner {
        justify-content: center;
    }
}
