/* =========
    FONTS 
============ */ 

   $mainfont: "Indie Flower", cursive;
   $secondaryfont: "IBM Plex Mono", monospace;
   
/* ============
    COLOR FONT
=============== */ 
   
   $orangecolor: #F37758;
   $graycolor: #676767;
   
/* ==================
    BACKGROUND IMAGES 
===================== */ 
   
