
   $mainfont: "Indie Flower", cursive;
   $secondaryfont: "IBM Plex Mono", monospace;
   
/* ============
    COLOR FONT
=============== */ 
   
   $orangecolor: #F37758;
   $graycolor: #676767;
   
/* ==================
    BACKGROUND IMAGES 
===================== */ 
   
$title-font: "Indie Flower", cursive;
$main-font: "IBM Plex Mono", monospace;
$main-color: #fa7855;
$grey-color: #666666;
$white-color: #ffffff;
$light-grey-color: #979188;
$very-light-grey-color: #e4dfe0;
$small-size: 14px;
