/* =========
    FONTS 
============ */
/* ============
    COLOR FONT
=============== */
/* ==================
       FONT-SIZE 
===================== */
body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  align-items: center;
  flex-direction: column;
}
header li, header a {
  list-style: none;
  padding: 0px 30px;
  font-family: "IBM Plex Mono", monospace;
  color: #666666;
  font-weight: 600;
  font-size: 20px;
}
header li:hover, header a:hover {
  color: #fa7855;
}
@media (max-width: 695px) {
  header li, header a {
    display: none;
    visibility: hidden;
  }
}

h1 {
  font-family: "Indie Flower", cursive;
  color: #fa7855;
  font-size: 50px;
  margin: 10px;
}

a {
  text-decoration: none;
}

.header-ul {
  display: flex;
}

.hover-li {
  position: relative;
}
.hover-li:hover ul {
  visibility: visible;
}

.hover-li ul {
  position: absolute;
  left: 0px;
  padding: 10px 0px 0px 0px;
  visibility: hidden;
  background-color: #f8f8f8;
  z-index: 999;
}
.hover-li ul li {
  padding: 5px 30px;
}

.mobile-dropdown {
  display: none;
}

.banner {
  display: flex;
  justify-content: space-between;
  height: 490px;
  z-index: 1;
  overflow: hidden;
}
.banner img {
  flex-basis: 20%;
  height: 490px;
}

.img-container {
  position: relative;
}
.img-container:hover .hover-img {
  height: 120px;
}
.img-container:hover .hover-img li, .img-container:hover .hover-img p {
  display: contents;
}
.img-container:hover .hover-img ul {
  display: flex;
}

.hover-img {
  position: absolute;
  background-color: #fa79556b;
  width: 326.484px;
  height: 0px;
  transition: height 0.3s ease-in;
  bottom: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-left: 20px;
}
.hover-img li, .hover-img p {
  color: white;
  display: none;
  font-family: "IBM Plex Mono", monospace;
}
.hover-img ul {
  display: none;
  padding-left: 0;
}
.hover-img li {
  font-size: 12px;
  padding: 0px 10px 0px 0px;
}
.hover-img p {
  font-size: 14px;
  font-weight: 600;
  padding-left: 30px;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#main ul {
  display: flex;
  color: #979188;
  padding-left: 0px;
  flex-wrap: wrap;
}

.main {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.img-main-container {
  display: flex;
  height: 260px;
  justify-content: space-between;
  margin-top: 30px;
}
.img-main-container a:visited {
  color: #000000;
}
.img-main-container img {
  width: 350px;
  height: 235px;
  background-size: cover;
  border-radius: 15%;
}
.img-main-container img:hover + .img-title {
  background-color: #fa7855;
}
.img-main-container .img-title {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 30px;
  width: 180px;
  height: 30px;
}
.img-main-container .img-title:nth-of-type(1) {
  transform: translate(48%, -440%);
}
.img-main-container .img-title h3 {
  text-align: center;
  font-size: 15px;
  font-family: "IBM Plex Mono", monospace;
}

.img-container-indv {
  position: relative;
}

.video-container {
  display: flex;
  justify-content: space-between;
}
.video-container img {
  border-radius: 50%;
  height: 45%;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 320px;
  justify-content: space-between;
  box-sizing: border-box;
  max-height: 415px;
}

iframe {
  width: 68%;
}

.profile-title {
  background-color: #fde2da;
  width: 100%;
  height: 30px;
  text-align: center;
  font-family: "IBM Plex Mono", monospace;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-title h3 {
  font-size: 12px;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.description h2, .description p {
  margin: 0px;
  font-family: "IBM Plex Mono", monospace;
}
.description h2 {
  font-size: 20px;
  padding-bottom: 10px;
}
.description p {
  text-align: center;
  color: #979188;
  font-size: 12px;
  margin: 0px 20px;
  font-weight: 600;
}

.video-ul {
  display: flex;
  margin-top: 5px;
}
.video-ul p {
  font-size: 10px;
  padding: 0px 4px;
  color: #979188;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
}

.articles {
  width: 68%;
}

.hr {
  height: 2px;
  width: 100%;
  background-color: #e4dfe0;
}

.article {
  display: flex;
  margin: 30px 0px;
  font-family: "IBM Plex Mono", monospace;
}
.article img {
  width: 300px;
  height: 200px;
  border-radius: 10%;
}

.article-text {
  box-sizing: border-box;
  padding-left: 50px;
}
.article-text p {
  font-size: 14px;
  color: #979188;
  font-weight: 600;
}
.article-text h2 {
  font-size: 20px;
  margin-top: 0px;
}
.article-text .article-ul {
  display: flex;
  justify-content: space-between;
}
.article-text .article-ul ul li {
  font-size: 14px;
  padding: 0px 12px 0px 0px;
}

.article-title {
  background-color: #fde2da;
  height: 30px;
  width: 130px;
  border-radius: 10px;
  font-size: 12px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.article-title h3 {
  font-size: 12px;
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 25px 0px;
}
footer ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
  width: 100%;
}
footer li {
  font-weight: 400;
}
footer i {
  padding: 0px 10px;
}
footer a {
  color: inherit;
  display: flex;
  align-items: center;
}

.footer-hr {
  width: 100%;
  height: 2px;
  background-color: #e4dfe0;
  margin: 15px 0px;
}

.footer-arrow {
  display: none;
}

@media (max-width: 1340px) {
  .banner, .img-main-container, .video-container {
    flex-wrap: wrap;
  }

  .img-main-container {
    justify-content: space-evenly;
    height: 510px;
  }
}
@media (max-width: 1290px) {
  .video-container {
    justify-content: center;
  }
  .video-container .profile {
    margin-top: 20px;
  }

  .articles {
    width: 100%;
  }
}
@media (max-width: 1000px) {
  .banner, .img-main-container {
    justify-content: space-around;
  }

  .main {
    width: 90%;
  }
}
@media (max-width: 830px) {
  .img-main-container {
    justify-content: center;
    height: 820px;
    order: 0;
  }
  .img-main-container img {
    margin: 0px 10px;
  }

  .video-container {
    justify-content: center;
    order: 1;
  }
  .video-container .profile {
    margin-top: 0px;
  }

  .video-ul {
    display: none;
  }

  iframe {
    display: none;
  }

  .articles {
    order: 0;
  }

  footer {
    order: 2;
  }
  footer li {
    display: none;
  }

  .footer-hr {
    order: 3;
  }
}
@media (max-width: 730px) {
  .articles .article:nth-of-type(4) {
    display: none;
  }
  .articles .article img {
    display: none;
  }
  .articles .hr {
    display: none;
  }

  .article-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 25px;
  }
  .article-text .article-ul {
    width: 300px;
  }
  .article-text h2 {
    font-size: 26px;
    margin-top: 10px;
  }
  .article-text .article-title {
    margin-top: 20px;
    width: 100px;
  }
  .article-text ul {
    justify-content: center;
  }
  .article-text ul span {
    display: block;
    transform: translateX(-33px);
  }
  .article-text ul:nth-of-type(1) {
    width: 179px;
  }
  .article-text ul:nth-of-type(2) {
    width: 100px;
  }
}
@media (max-width: 695px) {
  header li, header a {
    padding: 0px 20px;
  }
}
@media (max-width: 670px) {
  .banner {
    justify-content: center;
  }
}
@media (max-width: 595px) {
  .header-ul {
    background-color: #fa7855;
    width: 260px;
    height: 40px;
    border-radius: 10px;
    position: relative;
  }
  .header-ul li {
    color: #ffffff;
    display: none;
  }

  .mobile-dropdown {
    display: flex;
    justify-content: center;
    background-color: #fa7855;
    color: #ffffff;
    position: absolute;
    top: 109px;
    z-index: 999;
    font-size: 14px;
  }
  .mobile-dropdown h2 {
    color: #ffffff;
    margin: 10px 0px 0px 0px;
  }
  .mobile-dropdown h2 i {
    margin-right: 10px;
  }

  .footer-hr {
    position: relative;
  }

  .footer-arrow {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    background-color: #fa7855;
    font-size: 20px;
    color: white;
    border-radius: 45%;
    width: 30px;
    height: 36px;
    bottom: -16px;
    left: 50%;
  }
  .footer-arrow a {
    color: inherit;
  }
}

/*# sourceMappingURL=home.css.map */
