/* =========
    FONTS 
============ */
/* ============
    COLOR FONT
=============== */
/* ==================
    BACKGROUND IMAGES 
===================== */
.receta-page {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.receta-page .container1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.receta-page .container1 h1 {
  font-family: "Indie Flower", cursive;
  color: #F37758;
  font-size: 50px;
}

.receta-page .container1 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: "IBM Plex Mono", monospace;
  list-style: none;
}

.receta-page .container1 ul li {
  margin-right: 40px;
  color: #676767;
}

.receta-page .img-frutas img {
  width: 100%;
}

.receta-page .info-container .casa {
  width: 20px;
  height: 20px;
}

.receta-page .container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
}

.receta-page .container2 .receta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 800px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.receta-page .container2 .receta .container-redes {
  width: 50px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

.receta-page .container2 .receta .container-redes img {
  height: 50px;
  width: 50px;
  margin-top: 20px;
}

.receta-page .container2 .receta .foto-receta {
  border-radius: 50px;
}

.receta-page .container2 h4 {
  color: #676767;
  font-family: "IBM Plex Mono", monospace;
}

.receta-page .container2 h2 {
  font-family: "IBM Plex Mono", monospace;
}

.receta-page .container2 p {
  color: #676767;
  font-family: "IBM Plex Mono", monospace;
}

.receta-page .container2 .quote {
  font-family: "IBM Plex Mono", monospace;
  width: 640px;
  border-left: 1px solid #F37758;
  color: #676767;
}

.receta-page .container2 .ingredientes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*# sourceMappingURL=main.css.map */