@charset "UTF-8";
/* =========
    FONTS 
============ */
/* ============
    COLOR FONT
=============== */
/* ==================
    BACKGROUND IMAGES 
===================== */
body {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
header li, header a {
  font-size: 20px;
  padding: 0px 30px;
  color: #666666;
}
header li:hover, header a:hover {
  color: #fa7855;
}

header li, header a {
  list-style: none;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  font-size: 20px;
}

header li:hover, header a:hover {
  color: #fa7855;
}

@media (max-width: 695px) {
  header li, header a {
    display: none;
    visibility: hidden;
  }
}

h1 {
  font-family: "Indie Flower", cursive;
  color: #fa7855;
  font-size: 50px;
  margin: 10px;
}

a {
  text-decoration: none;
}

.header-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hover-li {
  position: relative;
}

.hover-li:hover ul {
  visibility: visible;
}

.hover-li ul {
  position: absolute;
  left: 0px;
  padding: 10px 0px 0px 0px;
  visibility: hidden;
  background-color: #f8f8f8;
  z-index: 999;
}

.hover-li ul li {
  padding: 5px 30px;
}

.mobile-dropdown {
  display: none;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 490px;
  z-index: 1;
  overflow: hidden;
}

.banner img {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  height: 490px;
}

.img-container {
  position: relative;
}

.img-container:hover .hover-img {
  height: 120px;
}

.img-container:hover .hover-img li, .img-container:hover .hover-img p {
  display: contents;
}

.img-container:hover .hover-img ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hover-img {
  position: absolute;
  background-color: #fa79556b;
  width: 326.484px;
  height: 0px;
  -webkit-transition: height .3s ease-in;
  transition: height .3s ease-in;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 20px;
}

.hover-img li, .hover-img p {
  color: white;
  display: none;
  font-family: "IBM Plex Mono", monospace;
}

.hover-img ul {
  display: none;
  padding-left: 0;
}

.hover-img li {
  font-size: 12px;
  padding: 0px 10px 0px 0px;
}

.hover-img p {
  font-size: 14px;
  font-weight: 600;
  padding-left: 30px;
}

#main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #666666;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding-left: 0px;
  margin-top: 5px;
}

#main ul li {
  padding: 0px 4px;
  font-size: 10px;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
}

.img-main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 260px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}

.img-main-container img {
  width: 350px;
  height: 235px;
  background-size: cover;
  border-radius: 15%;
}
.img-main-container img:hover + .img-title {
  background-color: #fa7855;
}

.img-main-container .img-title {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  border-radius: 30px;
  width: 180px;
  height: 30px;
}

.img-main-container .img-title:nth-of-type(1) {
  top: 105px;
  left: 80px;
}

.img-main-container .img-title:nth-of-type(2) {
  top: 105px;
  left: 445px;
}

.img-main-container .img-title:nth-of-type(3) {
  top: 105px;
  left: 810px;
}

.img-main-container .img-title h3 {
  text-align: center;
  font-size: 15px;
  font-family: "IBM Plex Mono", monospace;
}

.img-main-container .img-title:hover {
  background-color: #fa7855;
}

.video-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.video-container img {
  border-radius: 50%;
  height: 45%;
}

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-height: 415px;
}

iframe {
  width: 68%;
}

.profile-title {
  background-color: #fde2da;
  width: 100%;
  height: 30px;
  text-align: center;
  font-family: "IBM Plex Mono", monospace;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile-title h3 {
  font-size: 12px;
}

.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.description h2, .description p {
  margin: 0px;
  font-family: "IBM Plex Mono", monospace;
}

.description h2 {
  font-size: 20px;
  padding-bottom: 10px;
}

.description p {
  text-align: center;
  color: #979188;
  font-size: 12px;
  margin: 0px 20px;
  font-weight: 600;
}

.receta-page {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  position: relative;
}

.receta-page .mobile-dropdown {
  display: none;
  visibility: hidden;
}

@media (max-width: 695px) {
  .receta-page .mobile-dropdown {
    visibility: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 10px;
    height: 40px;
    width: 300px;
    border-radius: 12px;
    font-family: "IBM Plex Mono", monospace;
    background-color: #F37758;
    color: white;
    position: absolute;
    top: 95px;
    z-index: 999;
    font-size: 14px;
    margin-top: 10px;
  }
  .receta-page .mobile-dropdown h2 {
    color: #ffffff;
    margin: 10px 0px 0px 0px;
  }
  .receta-page .mobile-dropdown h2 i {
    margin-right: 10px;
  }
}

@media (max-width: 391px) {
  .receta-page .mobile-dropdown {
    top: 160px;
  }
}

.receta-page .img-frutas img {
  width: 100%;
  margin-top: 50px;
}

.receta-page .info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 150px;
}

@media (max-width: 775px) {
  .receta-page .info-container {
    height: 80px;
  }
}

.receta-page .info-container i {
  margin-top: 25px;
  margin-left: 100px;
}

@media (max-width: 775px) {
  .receta-page .info-container i {
    margin-left: 25px;
  }
}

.receta-page .info-container h4 {
  font-family: "IBM Plex Mono", monospace;
  text-align: left;
  margin-left: 10px;
}

.receta-page .info-container h4 span {
  color: #676767;
}

@media (max-width: 580px) {
  .receta-page .info-container h4 span {
    display: block;
  }
}

.receta-page .container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1500px;
  width: 100%;
}

.receta-page .container2 .columna {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  max-width: 800px;
}

@media (max-width: 775px) {
  .receta-page .container2 .columna {
    max-width: 500px;
    width: 90%;
    margin-left: 0px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.receta-page .container2 .receta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 80%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 775px) {
  .receta-page .container2 .receta {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
  }
}

.receta-page .container2 .receta .container-redes {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
  max-width: 390px;
}

@media (max-width: 775px) {
  .receta-page .container2 .receta .container-redes {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 100%;
  }
}

.receta-page .container2 .receta .container-redes img {
  height: 50px;
  width: 50px;
  margin-right: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 775px) {
  .receta-page .container2 .receta .container-redes img {
    height: 40px;
    width: 40px;
    margin-bottom: 30px;
    margin-left: 0px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-right: 0px;
  }
}

.receta-page .container2 .receta .foto-receta {
  border-radius: 50px;
  width: 100%;
  max-width: 640px;
}

@media (max-width: 815px) {
  .receta-page .container2 .receta .foto-receta {
    width: 100%;
    height: 80%;
    border-radius: 50px;
  }
}

.receta-page .container2 .conatainer-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 640px;
  width: 100%;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: start;
  margin-left: 120px;
  margin-bottom: 50px;
}

@media (max-width: 815px) {
  .receta-page .container2 .conatainer-text {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-left: 0;
  }
}

.receta-page .container2 .conatainer-text .all-short-container {
  max-width: 630px;
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 775px) {
  .receta-page .container2 .conatainer-text .all-short-container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 50px;
  }
}

.receta-page .container2 .conatainer-text .all-short-container .short-container1 {
  max-width: 350px;
  width: 100%;
  height: 60px;
}

@media (max-width: 775px) {
  .receta-page .container2 .conatainer-text .all-short-container .short-container1 {
    max-width: 200px;
  }
}

@media (max-width: 435px) {
  .receta-page .container2 .conatainer-text .all-short-container .short-container1 {
    width: 200px;
  }
}

.receta-page .container2 .conatainer-text .all-short-container .short-container1 h4 {
  color: #676767;
  font-family: "IBM Plex Mono", monospace;
}

@media (max-width: 780px) {
  .receta-page .container2 .conatainer-text .all-short-container .short-container1 h4 {
    font-size: 13px;
  }
}

.receta-page .container2 .conatainer-text .all-short-container .short-container2 {
  max-width: 300px;
  width: 100%;
  height: 60px;
}

@media (max-width: 435px) {
  .receta-page .container2 .conatainer-text .all-short-container .short-container2 {
    max-width: 150px;
    width: 110px;
  }
}

.receta-page .container2 .conatainer-text .all-short-container .short-container2 i {
  margin-right: 5px;
  margin-left: 20px;
}

@media (max-width: 435px) {
  .receta-page .container2 .conatainer-text .all-short-container .short-container2 i {
    margin-left: 2px;
    margin-right: 2px;
  }
}

.receta-page .container2 .conatainer-text .all-short-container .short-container2 h4 {
  color: #676767;
  font-family: "IBM Plex Mono", monospace;
  text-align: end;
}

@media (max-width: 780px) {
  .receta-page .container2 .conatainer-text .all-short-container .short-container2 h4 {
    font-size: 13px;
  }
}

.receta-page .container2 .conatainer-text h2 {
  font-family: "IBM Plex Mono", monospace;
  color: #676767;
}

.receta-page .container2 .conatainer-text p {
  color: #676767;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
}

.receta-page .container2 .conatainer-text .quote {
  font-family: "IBM Plex Mono", monospace;
  max-width: 640px;
  width: 100%;
  border-left: 1px solid #F37758;
  color: #676767;
}

.receta-page .container2 .conatainer-text .quote p {
  color: black;
}

.receta-page .container2 .conatainer-text .ingredients {
  padding: 0px;
}

.receta-page .container2 .conatainer-text .ingredients .list-ingredients {
  font-size: 20px;
  font-weight: 100;
  font-family: "IBM Plex Mono", monospace;
  color: #666666;
  list-style: none;
  margin-left: 20px;
}

.receta-page .container2 .conatainer-text .ingredients li::before {
  content: "•";
  color: #F37758;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.receta-page .lastContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 1000px;
  width: 100%;
  height: 30px;
  border-bottom: 2px solid #e5e0e1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
  padding-bottom: 25px;
}

@media (max-width: 1040px) {
  .receta-page .lastContainer {
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.receta-page .lastContainer div {
  color: #676767;
  font-family: "IBM Plex Mono", monospace;
}

.receta-page .lastContainer div a {
  color: #676767;
}

.receta-page .lastContainer i {
  margin-right: 5px;
}

@media (max-width: 1040px) {
  .receta-page .lastContainer .link-text {
    display: none;
    max-width: 500px;
    width: 50%;
  }
}
/*# sourceMappingURL=style.css.map */
